#root{
    grid-template-columns: 20% 80%;
    display: grid;
    --prim-color: #00ead3;
    color:#fff5b7;
    margin: -8px;
}
button{
    background: #ff449f;
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff5b7;
    font: normal bold 18px "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
button:hover{
    transition: all 0.3s;
    background: #802e55
}
