.loginBG{
    width:100vw;
    height: 105vh;
    background: url('../../images/background.jpg');
    background-size: cover;
    margin-left: -20.6vw;
    margin-top: -27px;
    background-color: rgba(48, 40, 40, 0.849);
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: absolute;

}
.login-panel{
    background-color: var(--prim-color);
    width: 30vw;
    border: 5px #ff449f;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.login-panel h1{
    width: 100%;
}
.login-panel input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}
